fastapi
uvicorn
python-dotenv
langchain
langchain-openai
langchain-community
pydantic
pydantic-settings
pinecone-client
torch
python-docx
python-multipart 
pillow
psycopg2-binary
rank_bm25
underthesea
google-generativeai
